---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Recipes">
  <main>
    <h1>Welcome to the recipes page</h1>
    <p>You can search for recipes, browse and fliter by ingredients, calories or cost.</p>
    <p>Once you've found them, add them to a weekly meal plan, and get a shopping list made just for you!</p>
  </main>
</Layout>