---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to FoodManager.">
	<main>
		<h1>Welcome to <span class="text-gradient">FoodManager!</span><br />🥕🧅🥦🥔</h1>
		<p class="instructions">
			Manage your food for the week, by making a meal plan, and making your shopping list! Save the 🌲:D
		</p>
		☰
		<ul role="list" class="link-card-grid">
			<Card
				href="./recipes/"
				title="Recipes"
				body="Browse or create recipes, build your weekly food plan and export a shopping list!"
			/>
			<Card
				href="./plans/"
				title="Meal Plan"
				body="View your meal plan, and make any changes."
			/>
			<Card
				href="./shoppinglist/"
				title="Shopping List"
				body="Generated from your meal plan!"
			/>
		</ul>
	</main>
</Layout>

<style>
	:root {

	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem 1.6rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(2fr, 3fr);
		gap: 1rem;
		padding: 0;
	}
</style>
